# Production dependencies
kopf==1.44.5
kubernetes==35.0.0
prometheus_client==0.25.0
PyYAML==6.0.3
boto3==1.42.89
botocore==1.42.89
werkzeug==3.1.8
opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
